h1{
    text-align: center;
}
.yes{
    color: rgb(223, 165, 77);
    background-color: rgb(234, 245, 81);
    width: fit-content;
    border-radius: 5px;
}
p{
    color: brown;
    text-align: center;
}
img{
    width: 600px;
    height: auto;
    float: right;
    border-radius: 10px;
    border: 10px solid chocolate;
}
body{
    font-family: 'Arial';
    background: rgb(255, 253, 119);
}